.bg-Dblue{
    background-color: #000324;
}
.bg-DblueH{
    background-color: #000324cf;
}
.tc-white{
    color: #FFFFFF;
}
body {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto 1fr auto;
}
.navhead{
 grid-row: 1;
 grid-column: 1/15;
}
.imghead{
    grid-row: 2;
    grid-column: 1/15;
    width: 100%;
}
.welcome{
    grid-row: 3;
    grid-column: 3/14;
}
.recognition{
    width: 30%;
    height: auto;

}
.roomsbg{
    grid-row: 4;
    grid-column: 1/15;
}
.packages{
    grid-row: 5;
    grid-column: 1/15;
}
.amenities{
    grid-row: 6;
    grid-column: 1/15;
}
.amenities img { /*You can change the styles that are in a container */
    width: 70px;
    height: 70px;
    object-fit: contain;   
  }
.reserve{
    grid-row: 7;
    grid-column: 3/13;
}
.imgcon{
 width: 100%;
  height: 350px;     
  object-fit: cover;  
  display: block;
}
.footer {
  grid-row: 10;           
  grid-column: 1 / 15;
  background-color: #000324; 
}